body{
  background-color: #57a;
  padding-top: 10px;
}
.con{
  position: relative;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0,0);
  transform: rotate(0deg ) skew(0deg) scale(.5);
  transition: 0.5s;
}
.con img{
  position: absolute;
  width: 100%;
  transition: 0.5s;
}
.con:hover img:nth-child(4)
{
  transform: translate(160px,-160px);
  opacity: 1;
}
.con:hover img:nth-child(3)
{
  transform: translate(120px,-120px);
  opacity: .8;
}
.con:hover img:nth-child(2)
{
  transform: translate(80px,-80px);
  opacity: .6;
}
.con:hover img:nth-child(1)
{
  transform: translate(40px,-40px);
  opacity: .4;
}
.fa {
  padding: 5px;
  font-size: 25px;
  width: 40px;
  height:auto;
}
.fa:hover {
  color:white;

}
  
/* Facebook */
.fa-facebook {
  color: white;
}
  .fa-linkedin {
  color: white;
}.fa-instagram {
  color: white;
}

/* Twitter */
.fa-twitter {
  color: white;
}
.fa-github {
  color: white;
}
